# Copy this file and rename it to .env
# Then change these variables to whatever you want.

# Use this to change the default output directory.
# export PANQEC_DIR=/path/to/directory/

# Use this to change the default slurm file directory.
# export SLURM_DIR=/home/ehua7365/Documents/panqec/slurm

# Uncomment this to use dark theme for plotting.
# export PANQEC_DARK_THEME=True
